<ng-container [formGroup]="profileForm">
  <input type="text" formControlName="name">
</ng-container>

<form [formGroup]="todosForm">
  <div class="field">
    <input type="text" formControlName="title">
    <input type="text" formControlName="author">
    <button (click)="save()">
      <span *ngIf="edit">Редактировать задачу</span>
      <span *ngIf="!edit">Добавить задачу</span>
    </button>
  </div>

  <ul>
    <li *ngFor="let todo of todos">
      <i>{{todo.title}}:</i> {{todo.author}}
      <button (click)="deleteTodo(todo.id)">X</button>
      <button (click)="getTodo(todo.id)">Edit</button>
    </li>
  </ul>
</form>

